.chat {
  height: calc(100% - 60px);
  max-height: 460px;
  min-height: 220px;
  width: 320px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin: auto;
  z-index: 10;
  box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
  display: flex;
  flex-flow: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.chat-title {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #40af94;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-message__user {
  font-size: 10px;
  text-align: right;
  color: #8e8e8e;
  margin: 5px 0;

  strong {
    font-weight: bold;
  }
}

.chat-message__list {
  overflow: auto;
  background: #fff;
  height: 100%;
  padding: 20px;
}

.chat-message__item {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

  .chat-message__text {
    padding: 10px;
    color: #333;
    border-radius: 3px;
    border: 1px solid #e7e6e6;
  }
}

.chat-message__wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 20px;
  display: flex;

  .chat-message__input {
    height: 100%;
    height: 12px;
    padding: 10px;
    width: 100%;
    color: #333;
    border-radius: 3px;
    border: 1px solid #e7e6e6;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
