.button {
  background-color: transparent;
  color: #40af94;
  border: 1px solid #40af94;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  line-height: 0.5px;
  padding: 16px;
  outline: none;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    opacity: 0.8;
  }

  &.button-primary {
    color: #fff;
    background: #40af94;
  }
}